<!DOCTYPE html>
<html>
  <head>
    <title>Closure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 ><a href="http://closureathome.com/"  target="_blank" id="logo">closureathome.com</a></h1>
    <br>
    <br>
    <%= yield %>
  </body>
</html>
